.menu-bar {
	-fx-background-color: linear-gradient(rgba(66,66,66,1) 0%, rgba(43,43,43,1) 100%);

	-fx-text-fill: white;
	-fx-focused-text-base-color: white;
	-fx-text-background-color: white;
	-fx-focused-mark-color: white;
}

.menu > .label {
    -fx-text-fill: white !important;
}

/**
 * Hover color for the menu item text
 */
.menu-item .text {
	-fx-fill: white;
}

/** Determines the hover color of the checkmark */
.menu-item {
	-fx-mark-color: white;
}

.context-menu {
	-fx-background-color: rgba(43,43,43,1);
}

#controls {
	-fx-background-color: #393939;
}

.button {
	-fx-background-color: #5e5e5e;
	-fx-text-fill: #989898;
}

.button:hover {
	-fx-background-color: #7f7f7f;
	-fx-text-fill: #3f3f3f;
}

.text-field {
    -fx-background-color: #4e4e4e;
}

.text-field:focused {
    -fx-background-color: #7d7d7d;
}
