.menu-bar {
	-fx-background-color: linear-gradient(rgba(170,169,169,1) 0%, rgba(144,144,144,1) 100%);
	-fx-text-fill: lightgrey;
}

.menu .text {
	-fx-fill: white;
}

.menu {
	-fx-fill: lightgrey;
}

.menu-item .text {
	-fx-fill: black;
}

.menu-item:hover .text {
	-fx-fill: white;
}


#controls {
	-fx-background-color: #555555;
}

.button {
	-fx-background-color: grey;
	-fx-text-fill: lightgrey;
}

.button:hover {
	-fx-background-color: lightgrey;
	-fx-text-fill: grey;
}


.text-field {
    -fx-background-color: #878787;
}

.text-field:focused {
    -fx-background-color: #dbdbdb;
}

#overlay {
	-fx-background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar .progress-indicator, .progress-indicator {
	-fx-progress-color: grey;
}