.button {
	-fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-padding: 20;
    -fx-width: 60;
    -fx-cursor: hand;
}

.text-field {
	-fx-min-width: 250;
	-fx-padding: 5;
	-fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-insets: 0;

    -fx-box-border: none;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}